@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    /* bg colors */
    --background: #02050e;
    --primary:#1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;

    /* text colors */

    --text-gray: #adb9c7;
    --text-white: #f3f4f6;

    /* decoration */

    --fire: #ff6d00;
    --electric: #64d3ff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "poppins", sans-serif;
    
}

/* Header */

header {
    background-color: var(--secondary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px;
    position: fixed;

}

.logo {
    height: 40%;
}

.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 150px;
}

.navbar-list {
    gap:30px;
}

.navbar-list a {
    color: var(--text-gray);
}

.navbar-list li:first-child>a {
    color: var(--text-white);
    font-weight: 600;
}

/* main */

main{
    background-color: var(--background);
    color:var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


#hero {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 48px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: var(--text-white);
}

.hero-info p {
    font-size: 14px;
    width: 70%;
    color: var(--text-gray);
}

.hero-info a {
    color: var(--text-white);
    background-color: var(--primary);
    width: 120px;
    padding: 8px 0;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
}

.hero-info span {
    font-weight: 900;
}

.hero-card {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 15px;
    justify-content: center;
    gap: 20px;
}

.hero-card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-card-top  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.hero-card-top h3{
    
    font-weight: 600;
    font-size: 16px;

}

.hero-card-top span {
    background-color: var(--primary);
    text-align: center;
    width:50px ;
    padding: 3px 0;
    font-size: 14px;
    border-radius: 10px;
}