@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    /* bg colors */
    --background: #02050e;
    --primary:#1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;

    /* text colors */

    --text-gray: #adb9c7;
    --text-white: #f3f4f6;

    /* decoration */

    --fire: #ff6d00;
    --electric: #64d3ff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "poppins", sans-serif;
    
}

/* Header */

header {
    background-color: var(--secondary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px;
    position: fixed;

}

.logo {
    height: 40%;
}

.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 150px;
}

.navbar-list {
    gap:30px;
}

.navbar-list a {
    color: var(--text-gray);
}

.navbar-list li:first-child>a {
    color: var(--text-white);
    font-weight: 600;
}

/* main */

main{
    background-color: var(--background);
    color:var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


#hero {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 48px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: var(--text-white);
}

.hero-info p {
    font-size: 14px;
    width: 70%;
    color: var(--text-gray);
}

.hero-info a {
    color: var(--text-white);
    background-color: var(--primary);
    width: 120px;
    padding: 8px 0;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
}

.hero-info p>span {
    font-weight: 800;
}

.hero-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 15px;
    justify-content: center;
    gap: 20px;
}

.hero-card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-card-top  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}

.hero-card-top h3{
    
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    

}

.hero-card-top span {
    background-color: var(--primary);
    text-align: center;
    width:50px ;
    padding: 3px 0;
    font-size: 14px;
    border-radius: 10px;
}

.hero-card-bottom {
    display: flex;
    justify-content: space-between;
}

.hero-card-creator {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-card-creator img{
    height: 40px;
    width: 40px;
}

.hero-card-creator p:first-child,
.hero-card-price p {
    color: var(--text-gray);
    font-size: 12px;
    font-weight: 300px;
}

.hero-card-price span,
.creator-info p:last-child {
    font-size: 14px;
}

.hero-card-price span {
    font-weight: 700;
}

/* Info-cards */

#info {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 70px 0;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#info h2 {
    font-size: 32px;
    font-weight: 800;
}

.info-cards-container {
    display: flex;
    
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
   
}

.info-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 290px;
    padding: 40px 30px;
    align-items: center;
    text-align: center;
    background-color: var(--secondary);
    border-radius: 10px;
    gap: 20px;

    

}

.info-card img {
    width: 50px;
}

.info-card h3 {
    font-weight: 600;
    font-size: 18px;
}

.info-card p {
    font-size: 14px;
    font-weight: 300;
    color: var(--text-gray);
}

/* Discover section */

#discover {
    max-width: 1200px;
    padding: 70px 0;
}

.discover-info {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.discover-info h2 {
    font-size: 32px;
    width: 45%;
    font-weight:800;
}

.discover-text {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
}

.discover-text p {
    font-size: 16px;
    font-weight: 300;
    color: var(--text-gray);
}

.discover-text a{
    color:var(--text-white);
    font-weight: 600;
    text-decoration: underline;
}

.discover-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.discover-cards img {
    width: 30%;
}

/* Products section */

#products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    max-width: 1200px;
    width: 100%;

}

#products h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
}

.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.category {
    background-color: var(--btn-bg);
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    color: var(--text-white);
    cursor: pointer;
}

.active {

    background-color: var(--primary);
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px 0;
    max-width: 1200px;
}

.product {
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.product-top,
.product-mid,
.product-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-top h3 {
    font-size: 16px;
    font-weight: 600;
}

.product-top p,
.product-user {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-gray);

}

.product-user{
    display: flex;
    align-items: center;
    gap: 10px;

}

.product-mid span {
    font-weight: 800;
}

.offer-time {
    display: flex;
    gap: 10px;
    align-items:center ;
    font-weight: 600;
}

.btn-add {
    background-color: var(--primary);
    border: none;
    padding: 10px 35px;
    border-radius: 10px;
    color: var(--text-white);
    cursor: pointer;
}

.btn-load {
    background-color: black;
    border: 1px solid var(--electric);
    padding: 10px 35px;
    color: var(--text-white);
    border-radius: 10px;
    cursor: pointer;
}

footer {
    background-color: var(--background);
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
}

footer a,
footer p {
    color: var(--text-gray);
    font-weight: 300;
    font-size: 14px;
}

footer span {
    font-weight:800;
}

.footer-links {
    display: flex;
    gap: 20px;
    justify-content: center;
}